<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <p th:if="${errMsg}!=null" th:text="${errMsg}"></p>
    <form th:action="@{/imc}" method="post">
        <label>Tu peso por favor: </label>
        <input type="text" name="peso">
		<label>Tu altura por favor: </label>
		<input type="text" name="altura">
		<input type="submit" value="Enviar">
    </form>
</body>
</html>
